<fieldset class="fieldset__2">
  <legend class="fieldset__2--legend">
    <i class="fa-solid fa-draw-square fieldset__2--iconKeyboard"></i>
    <h2 class="fieldset__2--title">Diseña</h2>
    <i class="fa-solid fa-angle-up fieldset__2--iconArrow"></i>
  </legend>
  <section class="range">
    <h3 class="range__title">Colores</h3>
    <div class="range__pantone">
      <div class="pantone1">
        <input
          class="pantone1__button"
          type="radio"
          id="check1"
          name="select"
        />
        <div class="pantone1__first"></div>
        <div class="pantone1__second"></div>
        <div class="pantone1__third"></div>
      </div>
      <div class="pantone2">
        <input
          class="pantone1__button"
          type="radio"
          id="check2"
          name="select"
        />
        <div class="pantone2__first"></div>
        <div class="pantone2__second"></div>
        <div class="pantone2__third"></div>
      </div>
      <div class="pantone3">
        <input
          class="pantone1__button"
          type="radio"
          id="check3"
          name="select"
        />
        <div class="pantone3__first"></div>
        <div class="pantone3__second"></div>
        <div class="pantone3__third"></div>
      </div>
    </div>
  </section>
</fieldset>
