<fieldset class="fieldset-3">
  <legend class="js_title_share fieldset-3__legend">
    <i class="fa-solid fa-share-nodes"></i>
    <h2 class="fieldset-3__legend--title">comparte</h2>
    <i class="js_arrow_share fa-solid fa-angle-up fieldset__2--iconArrow"></i>
  </legend>

  <button class="js_content_share fieldset-3__button collapsed">
    <i class="fa-solid fa-address-card"></i>crear tarjeta
  </button>
</fieldset>

<!-- EMPIEZA AQUÍ EL "FIELDSET-4"  -->

<article class="fieldset-4__article js_twitter collapsed">
  <h2 class="fieldset-4___article--title">La tarjeta ha sido creada:</h2>
  <p class="fieldset-4__article--paragraph">
    https://awesome-profile-card.com?id=A456DF0001
  </p>

  <button class="fieldset-4__article--button">
    <i class="fa-brands fa-twitter"></i>Compartir en Twitter
  </button>
</article>
