  <form class="form" action="" method="post">
    <fieldset class="fieldset__2">
      <legend class="fieldset__2--legend">
        <i class="fa-solid fa-keyboard fieldset__2--iconKeyboard"></i>
        <h2 class="fieldset__2--title">Rellena</h2>
        <i class="fa-solid fa-angle-up fieldset__2--iconArrow"></i>
      </legend>
      <label for="firstAndSecondName">Nombre Completo</label>
      <input
        placeholder="Ej: Sally Jill"
        type="text"
        name="firstAndSecondName"
        id="firstAndSecondName"
        class="fieldset__2--input"
      />
      <label for="work">Puesto</label>
      <input
        placeholder="Ej: Front-end unicorns"
        type="text"
        name="work"
        id="work"
        class="fieldset__2--input"
      />

      <fieldset class="fieldset__2--fieldset">
        <legend>Imagen de perfil</legend>
        <button class="fieldset__2--button">Añadir imagen</button>
        <label for="AddImage"></label>
        <input
          type="button"
          id="AddImage"
          class="future_js"
        /></fieldset>
      <label for="email">Email</label>
      <input
        placeholder="Ej: sallyhill@gmail.com"
        type="email"
        name="email"
        id="email"
        class="fieldset__2--input"
      />
      <label for="tel">Teléfono</label>
      <input
        placeholder="Ej. 555-55-55-55"
        type="tel"
        name="tel"
        id="tel"
        class="fieldset__2--input"
      />
      <label for="linkedin">LinkedIn</label>
      <input
        placeholder="Ej: linkedin.com/sally.hill"
        type="url"
        name="linkedin"
        id="linkedin"
        class="fieldset__2--input"
      />
      <label for="github">Github</label>
      <input
        placeholder="Ej: @sally-hill"
        type="text"
        name="github"
        id="github"
        class="fieldset__2--input"
      />
    </fieldset>
  </form>
</html>
