  
    <fieldset class="fieldset__2">
      <legend class="js_title_fill fieldset__2--legend">
        <i class="fa-solid fa-keyboard fieldset__2--iconKeyboard"></i>
        <h2 class="fieldset__2--title">Rellena</h2>
        <i class="js_arrow_fill fa-solid fa-angle-up fieldset__2--iconArrow"></i>
      </legend>
      <div class="js_content_fill fieldset__2--div collapsed">
        <label class="label" for="firstAndSecondName">Nombre completo</label>
        <input
          placeholder="Ej: Sally Jill"
          type="text"
          name="firstAndSecondName"
          id="firstAndSecondName"
          class="fieldset__2--input js_name"
        />
        <label class="label" for="work">Puesto</label>
        <input
          placeholder="Ej: Front-end unicorns"
          type="text"
          name="work"
          id="work"
          class="fieldset__2--input js_job"
        />
        
              <div class="wrapperImageFieldset2">
                 <div class="action">
                   <label class="action__upload-btn" for="img-selector">Añadir imagen</label>
                  <input type="file" name="" id="img-selector" class="action__hiddenField js__profile-upload-btn">
                </div>
      
              <div class="profile__preview js__profile-preview" style="background-image:url(https://i.pinimg.com/236x/c4/db/d0/c4dbd0edfc001aabb1fcad74045be62c--teacup-pomeranian-puppy-animal-instinct.jpg)"></div>
              </div>
      
        <label class="label" for="email">Email</label>
        <input
          placeholder="Ej: sallyhill@gmail.com"
          type="email"
          name="email"
          id="email"
          class="fieldset__2--input js_email"
        />
        <label class="label" for="tel">Teléfono</label>
        <input
          placeholder="Ej. 555-55-55-55"
          type="tel"
          name="tel"
          id="tel"
          class="fieldset__2--input js_tlf"
        />
        <label class="label" for="linkedin">LinkedIn</label>
        <input
          placeholder="Ej: https://linkedin.com/sally.hill"
          type="url"
          name="linkedin"
          id="linkedin"
          class="fieldset__2--input js_linkedin"
        />
        <label class="label" for="github">Github</label>
        <input
          placeholder="Ej: https://github.com/sally-hill"
          type="text"
          name="github"
          id="github"
          class="fieldset__2--input js_github"
        />
      </div>
    </div>
    </fieldset>

</html>
