
    
  <fieldset class="fieldset__3">
    <legend class="js_title_share fieldset__3--legend">
      <i class="fa-solid fa-share-nodes"></i>
      <h2 class="fieldset__3--title">comparte</h2>     
      <i class="js_arrow fa-solid fa-angle-up fieldset__2--iconArrow"></i> 
    </legend>

    <button type="submit" class="js_content_share fieldset__3--button"> <i class="fa-solid fa-address-card"></i>crear tarjeta</button> 
        
    
  </fieldset>




 <!-- EMPIEZA AQUÍ EL "FIELDSET-4"  -->

    
  <fieldset class="fieldset__4">
    <!-- <legend class="fieldset__4--legend">
        <i class="fa-solid fa-share-nodes"></i>
        <h2 class="fieldset__4--title">comparte</h2>     
        <i class="js_arrow fa-solid fa-angle-up fieldset__2--iconArrow"></i> 
    </legend> -->

 <div class="js_content_share_fieldset-4 fieldset__4--content" > 
        <button type="button" class="fieldset__4--button"> <i class="fa-solid fa-address-card"></i>crear tarjeta</button>        
 
        <article class="fieldset__4--article">
            <h2 class="fieldset__4--titlef4">La tarjeta ha sido creada:</h2> 
            <p class="fieldset__4--paragraph">https://awesome-profile-card.com?id=A456DF0001</p>

            <button type="submit" class="fieldset__4--buttonf4"> <i class="fa-brands fa-twitter"></i>Compartir en Twitter</button> 
        </article>
  </div>
  </fieldset>

</body>
</html>