  
    <fieldset class="fieldset__2">
      <legend class="js_title_fill fieldset__2--legend">
        <i class="fa-solid fa-keyboard fieldset__2--iconKeyboard"></i>
        <h2 class="fieldset__2--title">Rellena</h2>
        <i class="js_arrow_fill fa-solid fa-angle-up fieldset__2--iconArrow"></i>
      </legend>
      <div class="js_content_fill fieldset__2--div collapsed">
        <label for="firstAndSecondName">Nombre completo</label>
        <input
          placeholder="Ej: Sally Jill"
          type="text"
          name="firstAndSecondName"
          id="firstAndSecondName"
          class="fieldset__2--input js_name"
        />
        <label for="work">Puesto</label>
        <input
          placeholder="Ej: Front-end unicorns"
          type="text"
          name="work"
          id="work"
          class="fieldset__2--input js_job"
        />
        <!-- <fieldset class="fieldset__2--fieldset">
          <legend>Imagen de perfil</legend>
          <button class="fieldset__2--button">Añadir imagen</button>
          <label for="AddImage"></label>
          <input
            type="button"
            id="AddImage"
            class="future_js"
          /></fieldset> -->
        <label class= "fieldset__2--addImageLabel" for="image">Imagen de perfil</label>
        <a href="#" class="fieldset__2--addImageButton">Añadir imagen</a>
        <input
            type="field"
            id="AddImage"
            class="future_js"
          />
          <div class="square"></div>
        <label for="email">Email</label>
        <input
          placeholder="Ej: sallyhill@gmail.com"
          type="email"
          name="email"
          id="email"
          class="fieldset__2--input js_email"
        />
        <label for="tel">Teléfono</label>
        <input
          placeholder="Ej. 555-55-55-55"
          type="tel"
          name="tel"
          id="tel"
          class="fieldset__2--input js_tlf"
        />
        <label for="linkedin">LinkedIn</label>
        <input
          placeholder="Ej: linkedin.com/sally.hill"
          type="url"
          name="linkedin"
          id="linkedin"
          class="fieldset__2--input js_linkedin"
        />
        <label for="github">Github</label>
        <input
          placeholder="Ej: @sally-hill"
          type="text"
          name="github"
          id="github"
          class="fieldset__2--input js_github"
        />
      </div>
    </fieldset>

</html>
