
    
  <fieldset class="fieldset-3">
    <legend class="fieldset-3__legend">
      <i class="fa-solid fa-share-nodes"></i>
      <h2 class="fieldset-3__legend--title">comparte</h2>     
      <i class="fa-solid fa-angle-up"></i> 
    </legend>

    <button type="submit" class="fieldset-3__button"> <i class="fa-solid fa-address-card"></i>crear tarjeta</button> 
        
    <div class="fieldset-3__div">
    <hr/>
    </div> 
  </fieldset>




 <!-- EMPIEZA AQUÍ EL "FIELDSET-4"  -->

    
  <fieldset class="fieldset-4">
    <legend class="fieldset-4__legend">
      <i class="fa-solid fa-share-nodes"></i>
      <h2 class="fieldset-4__legend--title">comparte</h2>     
      <i class="fa-solid fa-angle-up"></i> 
    </legend>

   
    <button type="button" class="fieldset-4__button"> <i class="fa-solid fa-address-card"></i>crear tarjeta</button> 
    
    <div class="fieldset-4__div">
    <hr/>
    </div>
 
    <article class="fieldset-4__article">
    <h2 class="fieldset-4___article--title">La tarjeta ha sido creada:</h2> 
    <p class="fieldset-4__article--paragraph">https://awesome-profile-card.com?id=A456DF0001</p>

    <button type="submit" class="fieldset-4__article--button"> <i class="fa-brands fa-twitter"></i>Compartir en Twitter</button> 
  </article>
  <div class="fieldset-4__div">
    <hr/>
    </div>
  </fieldset>

</body>
</html>