<fieldset class="fieldset__1">
  <legend class="js_title_design fieldset__1--legend">
    <i class="fa-solid fa-vector-square fieldset__1--iconSquare"></i>
    <h2 class="fieldset__1--title">Diseña</h2>
    <i class="js_arrow_design fa-solid fa-angle-up fieldset__1--iconArrow"></i>
  </legend>
  <section class="js_content_design range">
    <h3 class="range__title">Colores</h3>
    <div class="range__pantone">
      <div class="pantone1">
        <input class="pantone1__input" type="radio" id="check1" name="select" />
        <div class="pantone1__first"></div>
        <div class="pantone1__second"></div>
        <div class="pantone1__third"></div>
      </div>
      <div class="pantone2">
        <input class="pantone1__input" type="radio" id="check2" name="select" />
        <div class="pantone2__first"></div>
        <div class="pantone2__second"></div>
        <div class="pantone2__third"></div>
      </div>
      <div class="pantone3">
        <input class="pantone1__input" type="radio" id="check3" name="select" />
        <div class="pantone3__first"></div>
        <div class="pantone3__second"></div>
        <div class="pantone3__third"></div>
      </div>
    </div>
  </section>
</fieldset>
