<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<main>
<figure class="logo"></figure>
<article>
    <h1> Crea tu tarjeta de visita </h1>
    <p> Crea mejores contactos profesionales de forma fácil y cómoda</p>
</article>
<section>
    <div> 
      <h2> Diseña </h2>
    </div>
    <div>
       <h3> Rellena </h3>
    </div>
    <div>
       <h4> Comparte </h4>
    </div>
 <enlace> Comenzar </enlace> 
</enlace>
</section> 
</main>
<footer>
<p> Awesome profile cards </p>
<figure>
  <img src="./assets/images/tarjetas-molonas.png" alt="logotarjetas"/> 
</figure>
</footer>
</html>