<main class="main__landing">
  <figure class="landing__logo">
    <img
      class="landing__logo--img"
      src="./assets/images/tarjetas-molonas.png"
      alt="logo"
      title="logo"
    />
  </figure>
  <article class="landing__article">
    <h1 class="landing__article--title">Crea tu tarjeta de visita</h1>
    <p class="landing__article--parragraph">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
  </article>
  <section class="landing__section">
    <div class="">
      <i class="fa-solid fa-vector-square fieldset__1--iconSquare"></i>
      <h2>Diseña</h2>
    </div>
    <div>
      <i class="fa-solid fa-keyboard fieldset__2--iconKeyboard"></i>
      <h2>Rellena</h2>
    </div>
    <div>
      <i class="fa-solid fa-share-nodes"></i>
      <h2>Comparte</h2>
    </div>
  </section>
  <a href="./form.html">Comenzar</a>
</main>

<include src="./footer.html"> </include>
