<main class="main__landing">
  <figure class="landing__logo">
    <img
      class="landing__logo--img"
      src="./assets/images/tarjetas-molonas.png"
      alt="logo"
      title="logo"
    />
  </figure>
  <article class="landing__article">
    <h1 class="landing__article--title">Crea tu tarjeta de visita</h1>
    <p class="landing__article--parragraph">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
  </article>
  <section class="landing__section">
    <div class="wrapper">
      <i class="fa-solid fa-vector-square landing__icon"></i>
      <h2 class="landing__section--description">Diseña</h2>
    </div>
    <div class="wrapper">
      <i class="fa-solid fa-keyboard landing__icon"></i>
      <h2 class="landing__section--description">Rellena</h2>
    </div>
    <div class="wrapper">
      <i class="fa-solid fa-share-nodes landing__icon"></i>
      <h2 class="landing__section--description">Comparte</h2>
    </div>
  </section>
  <a href="./form.html" class="landing__button">Comenzar</a>
</main>

<include src="./footer.html"> </include>
