<section class="preview">
    
    <div class="wrapper">
      <button class="preview__button">
        <i class="fa-regular fa-trash-can"></i>Reset
      </button>
      
      <article class="card">
          <div class="card__rectangle"></div>
          <div class="card__info">
              <h3 class="js_card_name card__name">Nombre Apellido</h3>
              <p class="js_card_job card__job">Front-end developer</p>
          </div>
          <div class="card__photo">
              <img src="./assets/images/photo-temp.jpg" alt="Foto de prueba" width="100%">
          </div>
          <nav class="card__footer">
              <ul class="socialmedia">
                  <li><a href="#" title="Teléfono" target="_blank"><i class="socialmedia__icon fa-solid fa-mobile-screen-button"></i></a></li>
                  <li><a href="#" title="Correo" target="_blank"><i class="socialmedia__icon fa-regular fa-envelope"></i></a></li>
                  <li><a href="#" title="LinkedIn" target="_blank"><i class="socialmedia__icon fa-brands fa-linkedin-in"></i></a></li>
                  <li><a href="#" title="GitHub" target="_blank"><i class="socialmedia__icon fa-brands fa-github-alt"></i></a></li>
              </ul>
          </nav>
      </article>
    </div>
</section>

