<section class="preview">
  <div class="wrapper">
    <button class="preview__button">
      <i class="fa-regular fa-trash-can"></i>Reset
    </button>

    <article class="card ">
      <div class="card__rectangle js-card"></div>
      <div class="card__info">
        <h3 class="card__name js_cardname">Nombre Apellido</h3>
        <p class="card__job js_cardjob">Front-end developer</p>
      </div>
      <div class="card__photo">
        <div class="profile">
          <div class="profile__image js__profile-image" style="background-image:url(https://i.pinimg.com/236x/c4/db/d0/c4dbd0edfc001aabb1fcad74045be62c--teacup-pomeranian-puppy-animal-instinct.jpg)"></div>
      </div>
    </div>
      <nav class="card__footer">
        <ul class="socialmedia">
          <li>
            <a  href="#" title="Teléfono" target="_blank"
              ><i class="socialmedia__icon fa-solid fa-mobile-screen-button"></i
            ></a>
          </li>
          <li>
            <a class='js-mail' href="#" title="Correo" target="_blank"
              ><i class="socialmedia__icon fa-regular fa-envelope"></i
            ></a>
          </li>
          <li>
            <a class='js-linkedIn' href="#" title="LinkedIn" target="_blank"
              ><i class="socialmedia__icon fa-brands fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a class='js-github' href="#" title="GitHub" target="_blank"
              ><i class="socialmedia__icon fa-brands fa-github-alt"></i
            ></a>
          </li>
        </ul>
      </nav>
    </article>

</section>
