$main-orange: #e17334;
$dark-green: #114e4e;
$medium-green: #438792;
$light-green: #a2deaf;
$nain-silver: #bfcdd0;

$secondary-silver: #dde9ed;
$main-background: #f5f5f5;
$text-darkgrey: #54585a;
$text-lightgrey: #6b6b6b;
$blue-twitter: #00a0f5;

//paleta de colores para fieldset 1//
// $dark-green: #114e4e;
// $medium-green: #438792;
// $light-green: #a2deaf;

//section_cards:
// $light-green: #a2deaf;
// $nain-silver: #bfcdd0;
