  
.fieldset__3{
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: column; 
    align-items: center;
   
    &--legend{
        padding-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align:left;   
        align-items: center;
        font-size: 18px;
        color: #54585a;
        font-family: 'Open Sans', sans-serif;  
    }

    &--title{
        width: 100%;
        text-transform: uppercase;
        font-size: 18px; 
        margin-left: 10px;    
    }

    &--button{ 
        background-color:#e17334;
        height: 50px;
        width: 199px;
        border-radius: 12px;
        border: none;
        margin-top: 30px;
        text-transform: uppercase;
        color: white;
        font-size: 18px;
        font-family:'Open Sans', sans-serif;    
    }
}

.fa-address-card{
    margin-right: 10px;
} 

.fa-share-nodes{
    color: #e17334;
    width: 16px;
    height: 18px;
}

  /*FIELDSET__4 STYLES*/
  
.fieldset__4{
    width: 100%;
    height: 312px;
    display: flex;
    flex-direction: column; 
    align-items: center;   

    &--legend{
        padding-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align:left;   
        align-items: center;
        font-size: 18px;
        color: #54585a;
        font-family: 'Open Sans', sans-serif; 
     }
  
    &--title{
        width: 100%;
        text-transform: uppercase;
        font-size: 18px; 
        margin-left: 10px;
    }
  
    &--button{ 
      background-color:#d5d5d5;
      height: 50px;
      width: 199px;
      border-radius: 12px;
      border: none;
      margin-top: 30px;
      text-transform: uppercase;
      color: white;
      font-size: 18px;
      font-family:'Open Sans', sans-serif;      
    }

    &--article{
      display: flex;
      flex-direction: column;    
      align-items: center;
    }

    &--titlef4{
      font-size: 18px;
      font-family:'Open Sans', sans-serif;
      color: #54585a;
    }

    &--paragraph{
      font-size: 12px;
      font-family:'Open Sans', sans-serif;
      color: #e17334;
      margin-top: 5px;
      margin-bottom: 10px;
    }

  &--buttonf4{
      background-color:#00a0f5;
      height: 30px;
      width: 181px;
      border-radius: 3px;
      border: none;
      color: white;
      font-size: 14px;
      font-family:'Open Sans';
    }
  &--div{
    display: none;
  }
} 

.fa-twitter{
  margin-right: 9.5px;
}

