.fieldset__2--div {
  display: flex;
  flex-direction: column;
}
.fieldset__2 {
  width: 100%;
  &--legend {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin: 20px 0 25px;
    width: 100%;
  }
  &--iconKeyboard {
    color: orange;
    width: 21px;
    height: 18px;
  }
  &--iconArrow {
    width: 16px;
    height: 18px;
  }
  &--title {
    text-transform: uppercase;
    margin-left: 10px;
    width: 100%;
  }
  &--input {
    border: solid;
    border-color: green;
    height: 30px;
    margin: 7px 0 20px;
  }
  &--addImageLabel {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  &--addImageButton {
    text-decoration: none;
    background-color: orange;
    text-align: center;
    line-height: 1.75;
    border-radius: 10px;
    color: white;
    width: 140px;
    height: 30px;
    margin: 7px 0 20px;
  }
}
.square {
  width: 30px;
  height: 30px;
  border: solid;
  display: none;
}
.future_js {
  // width: 30px;
  // height: 30px;
  // border: solid;
  // border-color: green;
  // margin: 7px 0 20px;
  display: none;
}


// Añadir variables y font family //
