.fieldset__1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    &--title{
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        color: $text-darkgrey;
        width: 100%;
    }
    &--legend {
      display: flex;
      flex-direction: row;
      text-align: left;
      align-items: center;
      margin: 20px 0 25px;
      width: 100%;
    }
    &--iconSquare {
      color: $main-orange;
      width: 21px;
      height: 18px;
    }
    &--iconArrow {
      width: 16px;
      height: 18px;
    }
}

.range{
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__title{
        margin-left: 19px;
        color: $text-darkgrey;
        font-size: 14px;
        text-transform: uppercase;
    }
}
.pantone1{
    width: 117px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    &__input{
        width: 17px;
        height: 17px;
        border-radius: 50%;
        padding: 1px;
    }
    &__first{
        width: 30px;
        height: 25px;
        background-color: $dark-green;
    }
    &__second{
        width: 30px;
        height: 25px;
        background-color: $medium-green;
    }

    &__third{
        width: 30px;
        height: 25px;
        background-color: $light-green;
    }
   

}
.pantone2{
    width: 117px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    
    &__first{
        width: 30px;
        height: 25px;
        background-color: $dark-brown;
    }
    &__second{
        width: 30px;
        height: 25px;
        background-color: $dark-red;
    }

    &__third{
        width: 30px;
        height: 25px;
        background-color: #e95626;
    }

}
.pantone3{
    width: 117px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    &__first{
        width: 30px;
        height: 25px;
        background-color: $grey-grey;
    }
    &__second{
        width: 30px;
        height: 25px;
        background-color: $medium-orange;
    }

    &__third{
        width: 30px;
        height: 25px;
        background-color: $light-grey;
    }

}
.collapsed{
    display: none;
}
.rotate{
    transform: rotate(180deg);
}
// input[type='radio']:checked:after{
//     background-color: grey;
// }


