.footer{
    width: 100vw;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media all and(min-width: 768px){
        flex-direction: row;
        justify-content: space-between;
    }

    &__copyright{
        font-family:  'Open Sans', sans-serif;
        font-size: 14px;
        color: $text-lightgrey;

        @media all and(min-width: 768px){
            margin-left: 40px;
        }
    }

    &__logo{
        margin-top: 12px;
        width: 103px;
        height: 40px;

        @media all and(min-width: 768px){
            margin-right: 40px;
        }
    }
}