.preview{
    width: 100vw;
    height: 457px;
    background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__button{
        height: 30px;
        border-radius: 15px;
        border: solid 1px white;
        // margin-left: 45px;
        margin-top: 38px;
        color: #54585a;
        font-size: 12px;
        background-color: #bfcdd0;
        text-transform: uppercase;
        padding: 8px 12px 10px 10px;
        font-family: OpenSans;
        cursor: pointer;
        align-self: flex-start;
    }
}

.fa-trash-can{
    width: 11px;
    height: 20px;
    margin-right: 8px;
}

.card{
    width: 240px;
    height: 329px;
    background-color: white;
    margin-top: 20px;
    // margin-left: 45px;
    border-radius: 2px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    position: relative;

    &__rectangle{
        width: 5px;
        height: 42px;
        background-color: #438792;
        position: absolute;
        top: 23px;
    }

    &__name{
        color: #114e4e;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin-left: 20px;
        padding-top: 21px;
    }

    &__job{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: #54585a;
        margin-left: 20px;
        margin-top: 4px;
        line-height: 1.5;
    }

    &__photo{
        width: 240px;
        height: 200px;
        margin-top: 10px;
    }
}

.socialmedia{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 20px;
    color: #114e4e;

    &__icon{
        margin-top: 10px;
        border-radius: 16px;
        border: solid 2px #a2deaf;
        text-align: center;
        padding: 5px;
    }
}

.socialmedia a{
    color: #114e4e;
}